spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

server:
  port: ${SERVER_PORT:8080}
  compression:
    enabled: true

logging:
  level:
    com.polytech.commandes: WARN
    org.springframework: WARN